@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
  text-align: center;
  background-color: #ffffff;
  padding-top: 20px;
}

.App Link {
  text-decoration: none;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
}

.button-login,
.button-new {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #6d1483;
  border-radius: 30px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.button-update,
.button-invite,
.button-code {
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
  color: white;
  background-color: #6d1483;
  border: none;  
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;           /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s;
}

.button-login,
.button-code {
  background-color: #25272a;
}

.button-invite {
  background-color: #6d1483;
}

.button-update:hover,
.button-invite:hover,
.button-code:hover {
  background-color: #c038e2;
}

.link-doc {
  margin-top: 20px;
  text-decoration: none;
  color: #6d1483;
  font-weight: 500;
}

input,
textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #c038e2;
  border-radius: 30px;
  font-size: 16px;
  width: 90%;
  max-width: 400px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /*margin-left: 5%;*/
}

button:hover {
  background-color: #c038e2;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 0;
  list-style-type: none;
  max-width: 600px;
  margin: auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #c038e2;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.doc {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.doc-detail {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  max-width: 600px;
  margin: auto;
}

.doc-icon {
  width: 60px;
  border-radius: 10px;
}

.title-input,
.content-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #c038e2;;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 5px;
}

.nav-link {
  margin-top: 20px;
  text-decoration: none;
  color: #6d1483;
  font-weight: 500;
  display: block;
}

.output-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  max-width: 600px;
  margin: auto;
}
.editor-container {
  position: relative; /* This allows absolute positioning for child elements */
}

.run-button {
  position: absolute;
  background-color: transparent;
  max-width: 30px;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  color: rgb(7, 137, 7); /* Text color */
  border: none;
  cursor: pointer;
  font-size: 40px; /* Adjust size if needed */
  z-index: 20; /* Ensure it is above other elements */
}

.run-button:hover {
  background-color: transparent;
  color: darkgreen; /* Darker shade on hover */
}

.code-output {
  background-color: #25272a;  /* Dark background */
  color: #f2f2ed;              /* Light text color */
  padding: 10px;               /* Padding around the text */
  border-radius: 5px;          /* Rounded corners */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 13px;             /* Font size */
  overflow-x: auto;            /* Horizontal scroll for long lines */
  line-height: 1.5;            /* Line height for readability */
  border: 1px solid #44475a;   /* Border color */
  white-space: pre-wrap;       /* Wrap long lines */
}

.code-output code {
  color: #66d9ef;               /* Optional: style inline code differently */
}


